.gameTableContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bg-light);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
    width: calc(100% - 40px);
}

.gameTable {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--bg-light);
    color: var(--text-primary);
    font-size: 14px;
    border-radius: 10px;
    overflow: hidden;
}

.gameTable th, .gameTable td {
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #444;
}

.gameTable th {
    background-color: var(--bg-dark);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;
}

.gameTable tr:nth-child(even) {
  background-color: var(--bg-primary);
}

.gameTable tr:hover {
  background-color: var(--bg-dark);
  transition: background-color 0.3s ease;
}

.gameTable td a {
    color: var(--bg-accent);
    text-decoration: none;
    font-weight: bold; /* Makes title stand out */
    font-size: 16px; /* Increases size */
    transition: color 0.3s ease;
}

.gameTable td a:hover {
    color: var(--danger);
}

.gameTable tr {
  border-bottom: 1px solid var(--bg-content);
}

/* Adjust title column for prominence */
.gameTable td:first-child {
    font-size: 16px;
    font-weight: bold;
    text-align: Left;
}

/* Improve checkbox alignment */
.gameTable td input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

/* Header row contrast */
.headerRow {
  background-color: var(--bg-dark);
  color: var(--text-primary);
}

/* Ensure word wrapping for long titles */
.gameTable td {
    word-wrap: break-word;
    max-width: 250px;
    text-align: center;
}

/* Reduce column width for checkboxes */
.gameTable td:last-child {
    text-align: center;
    width: 50px;
}

.steamImg {
    width: 15%;
    height: 15%;
}

