.container{
 display: grid;
 text-align: center;
 color: var(--text-primary);
 padding-bottom: 16px;
 gap: 8px;
 overflow: hidden;
}

.pageTitle{
  font-size: 36px;
  font-variant: small-caps;
}

.list_of_friends {
  
  display: grid;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin: 0 auto;
}

.friend_info {
  display:block;
  text-align: center;
  width: 100%;
  left: 50%;
  border-radius: 12px;
  margin: auto 0;
}

.friend_steam_link {
  text-decoration: none;
  display: block;
  max-width: max-content;
  margin-bottom: 16px;
}
/* Existing styles for .username and .redirectImage */
.username {
  text-align: center;
  font-size: 35px;
  position: relative;
  font-weight: bold;
  font-variant: small-caps;
  color: var(--text-primary);
  margin: 0 auto;
  width: max-content;
  transition: all 0.25s ease-in-out;
}

.username:hover {
  transform: scale(1.05) translateY(-2px);
  transition: all 0.25s ease-in-out;
}

.redirectImage {
  height: 40px;
  position: relative;
  display: inline-block;
  justify-self: center;
  align-self: center;
  vertical-align: middle;
  transition: transform 0.25s ease-in-out; /* Updated transition property */
  padding: 5px;
}

/* Add styles for .friend_steam_link to align image and text horizontally */
.friend_steam_link {
  display: flex;
  align-items: center; /* Vertically center the image and text */
  gap: 10px; /* Add spacing between the image and text */
  text-decoration: none; /* Ensure the link has no underline */
}



.redirectImage:hover{
  cursor: pointer;
  scale: 1.1;
  transition: .25s scale;
}

.recent_game_list {
  display: flex;
  margin-top: 8px;
  gap: 8px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.recent_game {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;

}

.recently_played_label {
  color: var(--text-secondary);
}

.image {
  width: 100%;
  max-width: 200px;
  margin-bottom: 8px;
  border-radius: 10px;
}

.no_recent_games_message {
  margin: 0 auto;
  text-align: center;
  color: var(--text-secondary);
}

.loading_message {
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}