.container{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100vw;
 min-height: calc(100vh - 83.5px);
 background-color: #1a202c;
 color: white;
 padding-bottom: 16px;
 gap: 8px;
 font-family: Arial, sans-serif;
}

.list_of_friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.friend_info {
  background-color: #2d3748;
  padding: 16px;
  border-radius: 12px;
  width: 50%;
}

.username {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
}

.recent_game_list {
  display: flex;
  margin-top: 8px;
  gap: 8px;
  width: 100%;
  justify-content: center;
}

.recent_game {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
}

.recent_game span {
  color: #ddd;
  font-size: 1rem;
}

.image {
  width: 100%;
  max-width: 200px;
  margin-bottom: 8px;
}