.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  text-align: center;
  position: relative;
  z-index: 1231321;
  height: 10%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.393);
}
.nav_options {
  display: flex;
  gap: 16px;
}

.logo, .links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: var(--text-primary);
  border-radius: 8px;
  text-decoration: none;
  text-align: center; /* Ensures text alignment */
  min-width: 120px; /* Ensures enough space for text */
  height: 30px; /* Adjust based on design */
  line-height: 1;
}


.logo:hover, .links:hover {
  background-color: var(--button-secondary);
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.links {
  background-color: var(--button-primary);
}

.searchbar {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  height: 40px;
}

.pfp{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid white;
}
.pfp:hover {
  border: 2px solid #6299f0;
  cursor: pointer;
}
.input {
  border: none;
  width: 300px;
  border-radius: 8px;
}

.input:focus {
  outline: none;
}

.search_icon {
  cursor: pointer;
}

.searchbar:focus {
  outline: 1px solid #6299f0;
}

.accountContainer {
  position: relative;
  /* Needed for absolute positioning */
}

.accountContainer:hover .steamComponent {
  display: block;
}

.steamComponent {
  position: absolute;
  display: flex;
  padding: 10px;

}
