.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 24px;
  width: 90%;
  z-index: 9999;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  background: var(--bg-dark);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(12px);
  background:
    radial-gradient(ellipse at bottom, var(--bg-dark), transparent),
    radial-gradient(ellipse at top, var(--bg-primary), transparent);
  transition: all 0.25s ease-in-out;
}

.nav_options {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logoDark {
  filter: var(--logo-bw);
  font-size: 32px;
  font-weight: bold;
  padding: 5px;
  transition: all 0.25s ease-in-out;
}

.logoDark:hover {
  color: var(--bg-accent);
  transform: scale(1.05);
  cursor: pointer;
}

.links {
  position: relative;
  margin-left: 10px;
  padding: 10px 16px;
  color: var(--text-primary);
  border-radius: 12px;
  background-color: var(--bg-primary);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: 26px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease-in-out;
  font-display: small-caps;
}

.links:hover {
  background-color: var(--bg-accent);
  border-color: var(--bg-accent);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
  color: var(--text-primary);
}

.links:active {
  transform: translateY(0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.accountContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pfp {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--text-primary);
  transition: all 0.25s ease-in-out;
}

.pfp:hover {
  border-color: var(--bg-accent);
  cursor: pointer;
}

.steamComponent {
  position: absolute;
  top: 90px;
  right: 15px;
  background-color: var(--bg-dark);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease;
}