.container {
  background-color: var(--bg-light);
  padding: 16px;
  border-radius: 8px;
  color: var(--text-primary);
  position: fixed;
  bottom: 12px;
  left: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.heading {
  margin: 0;
  text-align: center;
}

.message {
  text-align: center;
  color: var(--text-secondary);
  margin: 0;
}