.container {
  color: var(--text-primary);
  padding: 20px;
}

.recommendedGames {
  padding: 50px 20px;
  text-align: center;
}

.sectionTitle {
  font-size: 30px;
  margin-bottom: 20px;
}

.gamesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 250px; /* Three equal-sized game boxes and filter box */
  gap: 20px;
  width: 100%;
  max-width: 1200px; /* Prevent grid from stretching too wide */
  margin: 0 auto; /* Center the grid */
}

.gameCard {
  background-color: var(--bg-light);
  padding: 20px;
  border-radius: 10px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  background-color: var(--bg-content);
  padding: 20px;
  border-radius: 10px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}