.container {
    background: linear-gradient(230deg, var(--bg-dark), var(--bg-light));
}

.featuredGames {
    
    padding: 50px 50px;
    text-align: center;
}

.otherGames {
    padding: 50px 50px;
    text-align: center;
}
