.container {
    background: linear-gradient(230deg, var(--bg-dark), var(--bg-light));
}

.featuredGames {
    text-align: center;
}

.TopRatedGames {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
    width: 100%-padding;
}