

.featuredGames {
    text-align: center;
}

.JumpBackIn {
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 100%-padding;
}

.TopRatedGames {
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 100%-padding;
}

.gamesTable{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
    width: 100%-padding;
}